# Ignore dataset folders and csv files
shotdeck_data/
shotdeck_resized/
*.csv
# Ignore unwanted files
attn_scoring.ipynb
missing_labels.csv
shotdeck_attention_maps.h5

# Ignore log files
*.log

# Ignore cache files
__pycache__/
*.pkl
*.pt
