# Ignore dataset folders and csv files
shotdeck_data/
shotdeck_resized/
shotdeck_csv/
outputs/
*.csv
*.ipynb
*.png
*.h5

# Ignore unwanted files
shotdeck_attention_maps.h5

# Ignore log files
*.log

# Ignore cache files
__pycache__/
*.pkl
*.pt
